[package]
name = "moros"
description = "MOROS: Obscure Rust Operating System"
version = "0.1.0"
authors = ["Vincent Ollivier <v@vinc.cc>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/vinc/moros"
readme = "README.md"

[features]
default = ["vga", "qwerty"]
vga = []
serial = []
qwerty = []
dvorak = []

[dependencies]
base64 = { version = "0.11", default-features = false }
bit_field = "0.10.0"
bootloader = { version = "0.9.0", features = ["map_physical_memory"]}
hmac = { version = "0.7", default-features = false }
lazy_static = { version = "1.0", features = ["spin_no_std"] }
libm = "0.2.1"
linked_list_allocator = "0.8.2"
pbkdf2 = { version = "0.3", default-features = false }
pc-keyboard = { git = "https://github.com/thejpster/pc-keyboard" }
pic8259_simple = "0.1.1"
raw-cpuid = "7.0.3"
sha2 = { version = "0.8", default-features = false }
smoltcp = { version = "0.6", default-features = false, features = ["alloc", "ethernet", "socket-tcp", "socket-udp", "proto-ipv4", "proto-dhcpv4"] }
spin = "0.5.2"
uart_16550 = "0.2.4"
volatile = "0.2.6"
x86_64 = "0.10.3"
